Source: nbconvert
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Julien Puydt <jpuydt@debian.org>, Gordon Ball <gordon@chronitis.net>
Section: python
Priority: optional
Standards-Version: 4.6.1
Homepage: https://github.com/jupyter/nbconvert
Build-Depends: debhelper-compat (= 13),
               dh-python,
               pandoc,
               pybuild-plugin-pyproject,
               python3-all,
               python3-bleach (>= 5.0.0),
               python3-bs4,
               python3-defusedxml,
               python3-hatchling,
               python3-ipykernel <!nodoc>,
               python3-ipython <!nodoc>,
               python3-jinja2,
               python3-jupyter-core,
               python3-jupyterlab-pygments,
               python3-markupsafe,
               python3-mistune,
               python3-myst-parser <!nodoc>,
               python3-nbclient,
               python3-nbformat,
               python3-nbsphinx <!nodoc>,
               python3-packaging,
               python3-pandocfilters,
               python3-pydata-sphinx-theme <!nodoc>,
               python3-pygments,
               python3-sphinx <!nodoc>,
               python3-tinycss2,
               python3-traitlets
Vcs-Git: https://salsa.debian.org/python-team/packages/nbconvert.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/nbconvert
Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: python3-nbconvert
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Suggests: python-nbconvert-doc,
          texlive-fonts-recommended,
          texlive-plain-generic,
          texlive-xetex
Recommends: pandoc, python3-jupyter-client
Description: Jupyter notebook conversion (Python 3)
 Jupyter nbconvert converts notebooks to various other formats
 using Jinja templates.
 .
 This package installs the library for Python 3.

Package: jupyter-nbconvert
Architecture: all
Depends: jupyter-core,
         python3-nbconvert (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends}
Section: utils
Description: Jupyter notebook conversion (scripts)
 Jupyter nbconvert converts notebooks to various other formats
 using Jinja templates.
 .
 This package installs the jupyter-nbconvert script.

Package: python-nbconvert-doc
Architecture: all
Multi-Arch: foreign
Build-Profiles: <!nodoc>
Depends: libjs-jquery,
         libjs-mathjax,
         libjs-requirejs,
         ${misc:Depends},
         ${sphinxdoc:Depends}
Section: doc
Description: Jupyter notebook conversion (documentation)
 Jupyter nbconvert converts notebooks to various other formats
 using Jinja templates.
 .
 This package installs the documentation.
